<div class="container mt-4">
  <div class="row">

    <!-- Create patient -->
    <div class="col-md-6 p-2">
      <div class="col-12 rounded btn btn-outline-cool pointer" routerLink="createPatient">
        <div>
          <i class="fas fa-user-plus fa-3x"></i>
          <h1>Create patient</h1>
        </div>
      </div>
    </div>

    <!-- List patients -->
    <div class="col-md-6 p-2">
      <div class="col-12 rounded btn btn-outline-cool pointer" routerLink="listPatient">
        <div>
          <i class="fas fa-clipboard-list fa-3x"></i>
          <h1>List patients</h1>
        </div>
      </div>
    </div>

  </div>
</div>