<div class="col-12">
    <h2 class="text-white text-center">Patients</h2>

    <!-- Patient Card -->
    <div class="bg-outline-cool col-12 rounded mb-2" *ngFor="let patient of patients">
        <div class="row m-0 w-100">

            <!-- Gender -->
            <div *ngIf="patient.gender == 'Male'; then Male else Female"></div>
            <ng-template #Male>
                <div class="col-md-1 d-flex justify-content-center pl-1">
                    <i class="pl-3 fas fa-male mr-0 mt-3 fa-2x male"></i>
                </div>
            </ng-template>
            <ng-template #Female>
                <div class="col-md-1 d-flex justify-content-center pl-1">
                    <i class="pl-3 fas fa-female mr-0 mt-3 fa-2x female"></i>
                </div>
            </ng-template>
            <!-- /Gender -->

            <!-- Large version -->
            <div class="col-md-10 pl-3 d-md-display">
                <h5>{{patient.firstName}} {{patient.lastName}}
                    <small><i class="">({{patient.gender}})</i></small>
                </h5>
                <div class="d-flex">
                    <div class="p-1">Contact: </div>
                    <div class="p-1" style="word-break: break-all;">{{patient.email}} / {{patient.phone}}</div>
                </div>
            </div>

            <div class="d-md-display col-md-1 pr-0 d-flex flex-row-reverse">
                <div class="d-md-display row m-2 pointer" id="remove-client" (click)="deletePatient(patient.id)">
                    <i class="d-md-display fas fa-trash text-outline-danger"></i>
                </div>
            </div>

            <!-- Small version -->
            <div class="col-md-10 pl-3 d-md-none text-center">
                <h5>{{patient.firstName}} {{patient.lastName}}
                    <small><i class="">({{patient.gender}})</i></small>
                </h5>
                <div class="d-flex flex-column">
                    <div class="p-1" style="word-break: break-all;">{{patient.phone}}</div>
                    <div class="p-1" style="word-break: break-all;">{{patient.email}}</div>
                </div>
            </div>

            <div class="d-md-none col-md-1 d-flex flex-row-reverse p-0 pb-1 mb-1 pr-0 text-outline-danger">
                <i id="d-md-none remove-client" class="pointer fas fa-trash fa-lg ml-1"
                    (click)="deletePatient(patient.id)"></i>
            </div>

        </div>
    </div>
    <!-- /Patient card -->

</div>