

/* Cool Look n' Feel */
.coolBackground {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #581845, #6e1549, #840f4b, #990649, #ae0044, #c1193f, #d22e38, #e0432e, #ee6423, #f88416, #fea405, #ffc305);
}

.btn-outline-cool,
.btn-outline-cool:hover {
    border-color: white;
}

.btn-outline-cool {
    color: white;
}

.btn-outline-cool:hover {
    box-shadow: inset 0 0 0 20rem white;
    color: var(--darken-2);
}

.btn-outline-cool:active {
    box-shadow: inset 0 0 0 20rem var(--darken-2),
        inset 0 3px 4px 0 white,
        0 0 1px white;
    color: white;
}

.btn-outline-cool:disabled,
.btn-outline-cool.is-disabled {
    opacity: .5;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 768px) {
    .d-md-display {
        display: none;
    }
}